@mixin p{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

@mixin h4{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 147%;
	margin-bottom: 8px;
}

@mixin h3{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	margin-bottom: 8px;
}

@mixin btn{
    width: 190px;
    height: 48px;
    border-radius: 22px;
    border: none;
    margin: 0 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    @media (max-width: 767.98px){
        width: 280px;
        margin: 0px;
    }
}

@mixin direction{
    flex-direction: column;
    @media (min-width: 767.98px){
        flex-direction: row;
    }
}

@mixin direction2{
    flex-direction: row;
    max-width: 80%;
    @media (min-width: 767.98px){
        flex-direction: column;
        max-width: 20%;
    }
}

@mixin size($size) {
	@if $size == mobile {
	  @media (max-width: 767.9px) { @content; }
	} @else if $size == tablet {
	  @media (min-width: 768px) and (max-width:1199.9px) { @content; }
	} @else if $size == tablet-up {
	  @media (min-width: 768px) { @content; }
	} @else if $size == desktop {
	  @media (min-width: 1200px) { @content; }
	}
  }